<div id="product-list">
<mat-card class="example-card" *ngFor="let house of houses">
    <img mat-card-image src="{{house.imageUrl}}" alt="case">
  <mat-card-content>
    <b>{{house.name}}</b>
    <p>{{house.description}}</p>
    <b>{{house.price}} euro/mp</b>
  </mat-card-content>
  <mat-card-actions>
    <button routerLink="house-view/{{house.id}}" mat-button>View</button>
    <button mat-button>Call</button>

    <button (click)="removeAdd(house.id)" mat-button>DELETE</button>
    <button routerLink="house-edit/{{house.id}}" mat-button>EDIT</button>

  </mat-card-actions>
</mat-card>
</div>
